@import 'reset.less';
@import 'fonts.less';
@import 'variables.less';
@import 'codemirror.less';
@import 'isabelle.less';
@import 'sidebar.less';
@import 'search.less';
@import 'tabs.less';
@import 'statusbar.less';
@import 'contextMenu.less';
@import 'completions.less';


body {
  font-family: "myriad-pro", "Myriad Pro", "Segoe UI", "Helvetica";
  font-size: 11pt;
  background-color: #ccc;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

#loading {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 10000000;
  
  .content {
    position: absolute;
    top: 50%;
    height: 150px;
    width: 100%;
    overflow: visible;
    margin-top: -75px;
  }

  h1 {
    font-size: 40px;
    font-weight: 100; 
    color: @accent; 
    margin: 0;
  }

  ul {
    list-style: none;    
    padding: 0;
  }

  li {
    color: #666;
    font-size: 8px;
  }
}

.icon {
  font-size: 16px;
  font-family: icon;  
}

#content {
  -webkit-transition: left @fancy-transition ease;
  position: fixed;
  background-color: #ccc;
  left: @ribbon-width;
  top: 0;
  bottom: @statusbar-height;
  right: 0;
  overflow: hidden;
}

.sidebar #content {
  left: @ribbon-width + @sidebar-width;
}

.editor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.extendedStatusbar #content {
  bottom: @statusbar-height + @output-height;
}

.output {
  font-family: 'Cambria Math';
  font-size: 9pt;
  white-space: pre;
  position: absolute;
  width: 320px;
  right: 24px;
  top: 0;
  bottom: 0;
}

.hide {
  visibility: hidden;
}

.progress {
  font-size: 0;
  height: 3px;
  overflow: hidden;
  background-color: #ccc;
  div {          
    display: inline;
    height: 3px;
  }
  .finished {
    background-color: @accent;
  }
  .running {
    background-color: white;
  }
  .warned {
    background-color: yellow;    
  }
  .failed {
    background-color: red;
  }
}