@import 'variables.less';
@import 'reset.less';
@import 'fonts.less';
@import 'contextMenu.less';

body {
	font-family: "myriad-pro", "Myriad Pro", "Segoe UI", "Helvetica";
	margin:50px 0px; padding:0px;
	background-color: #ddd;
}

th,td {
	padding: 4px 15px;
}

table {
	border-spacing: 0;
	width: 100%;
	margin-bottom: 40px;
}

th {
	font-weight: normal;	
	border-bottom: 1px solid black;
}

select {
	cursor: pointer;
	-webkit-appearance: none;
	background: transparent;
	border: none;
	outline: none;
}

thead {
	
}

tbody {
	tr:hover {
  	background-color: @accent;
  	select {
  		color: @grayLight;
  	}
  	a {
  		color: white;
  	}
  }
}
	
a {
	text-decoration: none;
	color: @accent;
}

.projects {
	width:400px;
	margin:0px auto;
	text-align:left;
	padding:15px 0px;
	background-color:#eee;	
}	

h1 {
	margin: 0 15px;
	font-weight: 300;
	font-size: 30px;
	margin-top: 0;	
}

button {
	margin: -20px 15px;
	float: right;
}