@(user: String, project: String, path: String)
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/ide.css">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        <script type="text/javascript" src="//use.typekit.net/bzl6miy.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script>
          var globalOptions = {
            user    : "@user",
            project : "@project",
            path    : "@path"
          }          
        </script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/underscore/underscore.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/backbone/backbone.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/codemirror/codemirror.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/codemirror/util/overlay.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/codemirror/util/show-hint.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/codemirror/util/searchcursor.js")"></script>        
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/codemirror/util/search.js")"></script>   
        <script type="text/javascript" src="@routes.Assets.at("javascripts/mode/isabelle.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/routes.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/require.js")" data-main="@routes.Assets.at("javascripts/rjs/main.js")"></script>
    </head>
    <body class="sidebar inlineErrors">
      <div id="loading">
        <div class="content">
          <h1>clide</h1>
          <ul id="loadingStatus">
          </ul>
        </div>
      </div>
      <nav id="ribbon">
        <ul class="nav menu">
        </ul>
        <div id="sidebarButton">&#xE111;</div>
      </nav>
      <nav id="sidebar">
        <ul id="sidebarContent">                     
        </ul>            
      </nav>
      <div id="content"></div>
      <div id="search">
        <div id="searchButton">&#xE11A;</div>
        <input id="searchBox" disabled></input>
      </div>
      <div id="statusbar">
        <ul class="buttons">
          <li id="consoleButton">Output</li>          
        </ul>
        <ul class="statusMessages">
          <li id="syslog"></li>
          <li id="sessionLogic"></li>
          <li id="sessionStatus" class="phase">&#xE128;</li>
        </ul>        
        <div id="output"></div>
      </div>            
      <ul id="completion">
        <li>no matches...</li>
      </ul>
    </body>
</html>