@()
@play.api.Logger.info("into view")
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/underscore.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/backbone.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/routes.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/require.js")" data-main="@routes.Assets.at("javascripts/rjs/main.js")"></script>        
    </head>
    <body>
      <nav id="ribbon">
        <ul class="nav menu">
        </ul>
        <div id="sidebarButton">&#xE111;</div>
      </nav>
      <nav id="sidebar">
        <ul id="sidebarContent">                     
        </ul>            
      </nav>
      <div id="content"></div>
      <div id="search">
        <div id="searchButton">&#xE11A;</div>
        <input id="searchBox"></input>
      </div>
      <div id="statusbar">
        <ul class="buttons">
          <li id="consoleButton">Output</li>          
        </ul>
        <ul class="statusMessages">
          <li id="syslog"></li>
          <li id="sessionLogic"></li>
          <li id="sessionStatus" class="phase">&#xE128;</li>
        </ul>        
        <div id="output"></div>
      </div>      
      <ul id="contextMenu">
        <li>Delete</li>
        <li>Save As</li>
        <li>Rename</li>
        <li>Properties ...</li>
      </ul>
      <!--<ul id="completion">
        <li>no matches...</li>
      </ul>-->
    </body>
</html>