@(form: Form[(String,String)])(implicit flash: Flash)
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script type="text/javascript" src="//use.typekit.net/bzl6miy.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/login.css">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/underscore/underscore.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/backbone/backbone.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/routes.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/require.js")" data-main="@routes.Assets.at("javascripts/rjs/login.js")"></script>
        <script type='text/javascript'>
        var _ues = {
        host:'clide.userecho.com',
        forum:'18315',
        lang:'en',
        tab_corner_radius:0,
        tab_font_size:20,
        tab_image_hash:'ZmVlZGJhY2s%3D',
        tab_chat_hash:'Y2hhdA%3D%3D',
        tab_alignment:'right',
        tab_text_color:'#FFFFFF',
        tab_text_shadow_color:'#0000000',
        tab_bg_color:'#119900',
        tab_hover_color:'#17CC00'
        };

        (function() {
            var _ue = document.createElement('script'); _ue.type = 'text/javascript'; _ue.async = true;
            _ue.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.userecho.com/js/widget-1.4.gz.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(_ue, s);
          })();

        </script>
    </head>
    <body>
      <div id="content">
        @helper.form(routes.Application.authenticate) {        
            <h1>clide</h1>            
            @form.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }            
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }            
            <p>
                <input type="text" name="username" placeholder="username" id="username" value="@form("username").value">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="password">
            </p>
            <p>
                <button type="submit" id="loginbutton">Login</button>
            </p>            
        }        
        <p class="note">
            Try one of the users <em>anthony</em>, <em>brian</em>, <em>charles</em>, <em>david</em> or <em>edward</em> with <em>secret</em> as password.
        </p>        
      </div>
    </body>
</html>
    


