@(user: models.User)
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/projects.css">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/underscore.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/backbone.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/routes.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/require.js")" data-main="@routes.Assets.at("javascripts/rjs/login.js")"></script>
    </head>
    <body>
      <div class="projects">
        <h1>@{user.name}'s projects</h1>
        <table>
          <thead>
            <tr>
              <th>Project</th>
              <th>Logic Image</th>          
            </tr>
          </thead>
          <tbody>
            @user.projects.map { project =>
            <tr>
              <td><a href="@project.url/">@project.name</a></td>
              <td>
                <select value='@project.logic'>
                  @isabelle.Isabelle_System.find_logics.map { logic =>
                    <option>@logic</option>
                  }
                </select>
              </td>
            </tr>
    	      }
          </tbody>
        </table>
        <button>New Project</button>
      </div>
    </body>
</html>
    


