@(user: models.User)
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script type="text/javascript" src="//use.typekit.net/bzl6miy.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/projects.css">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        <script>var user = '@user.name'</script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/underscore/underscore.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/backbone/backbone.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/routes.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/require.js")" data-main="@routes.Assets.at("javascripts/rjs/projects.js")"></script>
    </head>
    <body>
      <div class="projects">
        <h1>@{user.name}'s projects</h1>
        <table>
          <thead>
            <tr>
              <th>Project</th>
              <th>Logic Image</th>          
            </tr>
          </thead>
          <tbody>
            @user.projects.map { project =>
            <tr class='project' id='@user.name-@project.name' data-name='@project.name'>
              <td><a href="@project.url/">@project.name</a></td>
              <td>
                <select id="logic-@user.name-@project.name" value='@project.logic' onchange="changeLogic('@user.name','@project.name')">
                  @isabelle.Isabelle_System.find_logics.map { logic =>
                    <option @{if (project.logic == logic) "selected"}>@logic</option>
                  }
                </select>                
              </td>
            </tr>
    	      }
          </tbody>
        </table>
        <button id="newProject">New Project</button>
      </div>
    </body>
</html>
    


