@(user: models.User)
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/projects.css">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/underscore.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/backbone.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/routes.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/require.js")" data-main="@routes.Assets.at("javascripts/rjs/login.js")"></script>
    </head>
    <body>                
      projects of @{user.name}:
      <ul>
      @user.projects.map { project =>
        <li><a href="@project.name/">@project.name</a></li>
	  }
      </ul>
    </body>
</html>
    


